.body-text {
    margin-top: 3rem;
}

.project {
    grid-column: 1/13;
}

header p {
    margin-bottom: 0;
}

.section {
    margin-bottom: -3rem;
}

div.section-full p.small-text.selected {
    white-space: nowrap;
    width: min-content;
}

.header p.small-text.selected {
    color: cyan;
    background-color: black;
}

.header p.small-text {
    display:inline;
    width: min-content;
    color: black;
    background-color: white;
}